* text=auto !eol
.ci/.travis.pre -text
.ci/appveyor.pre -text
.coin-or/projDesc.xml -text
/.travis.yml -text
/AUTHORS -text
CoinUtils/INSTALL -text
CoinUtils/LICENSE -text
CoinUtils/MSVisualStudio/v10/CoinUtils.sln -text
CoinUtils/MSVisualStudio/v10/libCoinUtils/libCoinUtils.vcxproj -text
CoinUtils/MSVisualStudio/v10/unitTestCoinUtils/unitTestCoinUtils.vcxproj -text
CoinUtils/MSVisualStudio/v10alt/CoinUtils.sln -text
CoinUtils/MSVisualStudio/v10alt/CoinUtilsUnitTest.vcxproj -text
CoinUtils/MSVisualStudio/v10alt/coinutils.props -text
CoinUtils/MSVisualStudio/v10alt/genDefForCoinUtils.ps1 -text
CoinUtils/MSVisualStudio/v10alt/libCoinUtils.vcxproj -text
CoinUtils/MSVisualStudio/v14/libCoinUtils/libCoinUtils.vcxproj -text
CoinUtils/MSVisualStudio/v16/libCoinUtils/libCoinUtils.sln -text
CoinUtils/MSVisualStudio/v16/libCoinUtils/libCoinUtils.vcxproj -text
CoinUtils/MSVisualStudio/v9/CoinUtils.sln -text
CoinUtils/MSVisualStudio/v9/libCoinUtils/libCoinUtils.vcproj -text
CoinUtils/MSVisualStudio/v9/unitTestCoinUtils/unitTestCoinUtils.vcproj -text
CoinUtils/MSVisualStudio/v9alt/CoinUtils.sln -text
CoinUtils/MSVisualStudio/v9alt/CoinUtilsUnitTest.vcproj -text
CoinUtils/MSVisualStudio/v9alt/coinutils.vsprops -text
CoinUtils/MSVisualStudio/v9alt/genDefForCoinUtils.ps1 -text
CoinUtils/MSVisualStudio/v9alt/libCoinUtils.vcproj -text
CoinUtils/README -text
CoinUtils/coinutils-uninstalled.pc.in -text
CoinUtils/coinutils.pc.in -text
CoinUtils/config.guess -text
CoinUtils/config.sub -text
CoinUtils/configure -text
CoinUtils/configure.ac -text
CoinUtils/depcomp -text
CoinUtils/doxydoc/doxygen.conf.in -text
CoinUtils/install-sh -text
CoinUtils/ltmain.sh -text
CoinUtils/missing -text
CoinUtils/src/.ycm_extra_conf.py -text
CoinUtils/src/CoinAdjacencyVector.cpp -text
CoinUtils/src/CoinAdjacencyVector.hpp -text
CoinUtils/src/CoinAlloc.cpp -text
CoinUtils/src/CoinAlloc.hpp -text
CoinUtils/src/CoinCliqueList.cpp -text
CoinUtils/src/CoinCliqueList.hpp -text
CoinUtils/src/CoinConflictGraph.cpp -text
CoinUtils/src/CoinConflictGraph.hpp -text
CoinUtils/src/CoinDenseFactorization.cpp -text
CoinUtils/src/CoinDenseFactorization.hpp -text
CoinUtils/src/CoinDynamicConflictGraph.cpp -text
CoinUtils/src/CoinDynamicConflictGraph.hpp -text
CoinUtils/src/CoinFinite.cpp -text
CoinUtils/src/CoinOslC.h -text
CoinUtils/src/CoinOslFactorization.cpp -text
CoinUtils/src/CoinOslFactorization.hpp -text
CoinUtils/src/CoinOslFactorization2.cpp -text
CoinUtils/src/CoinOslFactorization3.cpp -text
CoinUtils/src/CoinPresolveMonitor.cpp -text
CoinUtils/src/CoinPresolveMonitor.hpp -text
CoinUtils/src/CoinRational.cpp -text
CoinUtils/src/CoinRational.hpp -text
CoinUtils/src/CoinSearchTree.cpp -text
CoinUtils/src/CoinSearchTree.hpp -text
CoinUtils/src/CoinSimpFactorization.cpp -text
CoinUtils/src/CoinSimpFactorization.hpp -text
CoinUtils/src/CoinSmartPtr.hpp -text
CoinUtils/src/CoinSnapshot.cpp -text
CoinUtils/src/CoinSnapshot.hpp -text
CoinUtils/src/CoinStaticConflictGraph.cpp -text
CoinUtils/src/CoinStaticConflictGraph.hpp -text
CoinUtils/src/CoinStructuredModel.cpp -text
CoinUtils/src/CoinStructuredModel.hpp -text
CoinUtils/src/CoinWarmStartPrimalDual.cpp -text
CoinUtils/src/CoinWarmStartPrimalDual.hpp -text
CoinUtils/src/CoinWarmStartVector.cpp -text
CoinUtils/src/CoinWarmStartVector.hpp -text
CoinUtils/src/bron_kerbosch.cpp -text
CoinUtils/src/bron_kerbosch.h -text
CoinUtils/src/cgraph.cpp -text
CoinUtils/src/cgraph.h -text
CoinUtils/src/clique.cpp -text
CoinUtils/src/clique.h -text
CoinUtils/src/clique_extender.cpp -text
CoinUtils/src/clique_extender.h -text
CoinUtils/src/clique_separation.cpp -text
CoinUtils/src/clique_separation.h -text
CoinUtils/src/config.h.in -text
CoinUtils/src/config_coinutils.h.in -text
CoinUtils/src/config_coinutils_default.h -text
CoinUtils/src/config_default.h -text
CoinUtils/src/cut.cpp -text
CoinUtils/src/cut.h -text
CoinUtils/src/format-source.sh -text
CoinUtils/src/node_heap.cpp -text
CoinUtils/src/node_heap.h -text
CoinUtils/src/str_utils.cpp -text
CoinUtils/src/str_utils.h -text
CoinUtils/src/vint_set.cpp -text
CoinUtils/src/vint_set.h -text
CoinUtils/test/CoinLpIOTest.cpp -text
CoinUtils/test/CoinMessageHandlerTest.cpp -text
CoinUtils/test/plan.mod -text
/Dependencies -text
/INSTALL -text
/LICENSE -text
/README -text
/appveyor.yml -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/missing -text
