* text=auto !eol
CoinBase/coinbase_addlibs.txt.in -text
CoinBase/configure -text
CoinBase/configure.ac -text
/Externals -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
/install-sh -text
/missing -text
